body{
    max-width:90%;
}
main{
    grid-template-areas: "box1""box2""box3""box4";
}
.box1{
    margin-left:1em;
}
.road{
    width:85%;
}
.box3{
    background:rgba(200,200,200,.5)
}
.box4{
    margin-top:4.5em;
}
.main2{
    grid-template-areas: "square4" "square1" "square2" "square3";
}
.square4{
    margin-left:1em;

}
.square1{
    background-color:rgba(200,200,200,.5);
    font-size:130%;
}
.square2{
    background-color:rgba(200,200,200,.4)
}
.sign{
    width:85%;
}
table caption{
    font-size:200%;
}
.rounded{
    margin-left:3%;
}
figcaption{
    margin-left:5%;
    font-size:50%;
}
.main3{
    grid-template-areas: "box20""box21""box22""box23";
}
.stake{
    max-width:70%;
}
.box20{
    margin-left:.5em;
}
.box21{
    width:450%;
    margin-left:-16%;
}
.box22{
    margin-top:0%;
    margin-left:1%;
}
.box23{
    font-size:medium;
    margin-top:3%;
}
.box44{
    margin-left:10%;
}
